
body {
    font-family: sans-serif;
}

span {
    background: url(uncheck.png) no-repeat top left;
    display: inline-block;
    height: 32px;
    width: 32px;
    vertical-align: middle;
    padding-top: 4px;
}

.unchecked {
    background: url(uncheck.png) no-repeat top left;
}

.checked {
    background: url(check.png) no-repeat top left;
}


